<div class="viewer{{#if background}} viewer--has-background{{/if}}" {{#if background}}style="background-image: url('{{background}}');"{{/if}}>
  <button type="button" class="viewer__close" data-action="close" aria-label="{{localize 'SOCIALENCOUNTERS.ViewerClose'}}">&times;</button>
  <div class="viewer__stage">
    {{#if current}}
      <img class="viewer-image" src="{{current}}" alt="">
    {{/if}}
  </div>
  <footer class="viewer__controls">
    <span class="viewer__counter">{{index}} / {{total}}</span>
    <div class="viewer__thumbnails">
      {{#each thumbnails as |thumb|}}
        <button
          type="button"
          class="viewer__thumb {{#if thumb.active}}is-active{{/if}}"
          data-action="select-image"
          data-index="{{thumb.index}}"
          aria-label="{{thumb.label}}"
          title="{{thumb.label}}"
        >
          <img src="{{thumb.path}}" alt="{{thumb.label}}">
        </button>
      {{/each}}
    </div>
  </footer>
</div>
